*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
  }
  th{
     background-color: black;
     color: white; 
  }

  th, td {
    text-align: left;
    padding: 15px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

  table.center {
    margin-left:auto; 
    margin-right:auto;
  }